$full: 100%;
$half: 50%;
$spinnersize: 25px;
$mainbackground: #FFFFFF;
$headercontainer: #353E42;
$bordercolor: #C5C5C5;
$border: 1px solid $bordercolor;
$bubbleradius: 20px;
$bubbleminiradius: 5px;
$bubblepadding: 10px 30px;
$bubbleminipadding: 10px;
$bubblemaxwidth: 65%;
$bubblemargin: 10px;
$containerpadding: $bubblemargin;
$avatarradius: $half;
$avatarsize: 50px;
$getbackground: #EDEDED;
$postbackground: #E4FBCA;
$maxheaderheight: 70px;
$disabledopacity: .5;
$maxinputheight: 50px;
$inputpadding: 0 10px;
$green: #44B744;
$qcontainermargin: 10px 0px;